<!DOCTYPE html>
<html>
<head>
	<title>Home Pagina</title>

	<!-- Laat main head scrits -->
	<script src="/js/mainHeadScript.js"></script>

</head>
<body>

	<!-- menu balk -->
	<div id="menuBalk">
		
	</div>

	<!-- Left bar -->
	<div id="leftBar">
		

	</div>

	<!-- Main menu -->
	<div id="mainScreen">

	</div>


	<!-- Right menu balk-->
	<div id="rightBar">
		

	</div>
</body>
</html>