<!DOCTYPE html>
<html>
<head>
	<title>Home Pagina</title>

	<!-- Laat main head scrits -->
	<script src="/js/mainHeadScript.js"></script>

</head>
<body>

	<!-- Login scherm-->
	<div id="loginSchrem">
		
		<!-- Home tekst -->	
		<div>
			<h1>Log in scherm</h1>
		</div>

		<!-- invul route -->
		<form action="/post/wachtwoordCheck" method="post">
			<!-- Login naam -->
			<div>
				<h1>Username</h1>
				<input type="txt" name="username">
			</div>

			<!-- Wachtwoord-->
			<div>
				<h1>Password</h1>
				<input type="password" name="password">
			</div>

			<!-- input button -->
			<input type="submit" name="login" value="Inloggen" style="font-size:18px; " /></p> 
		</form>
	</div>
</body>
</html>