<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<!-- aanmaak scherm-->
	<div id="aanMaakSchrem">
		
		<!-- Home tekst -->	
		<div>
			<h1>Great account</h1>
		</div>

		<!-- invul route -->
		<form action="/post/nieuweAccount" method="post">
			<!-- Login naam -->
			<div>
				<p>Username</p>
				<input type="txt" name="username">
			</div>

			<!-- Wachtwoord-->
			<div>
				<p>Password</p>
				<input type="password" name="password">
			</div>
			<div>
				<p>Again Password</p>
				<input type="password" name="passwordAgain">
			</div>

			<!-- input button -->
			<input type="submit" name="login" value="Inloggen" style="font-size:18px;"/></p> 
		</form>
	</div>
</body>
</html>