<!DOCTYPE html>
<html>
<head>
	<title>Mail allert</title>

	<!-- Laat main head scrits -->
	<script src="/js/mainHeadScript.js"></script>
</head>
<body>

	<!-- menu balk -->
	<div id="menuBalk">
		
	</div>

	<!-- Left bar -->
	<div id="leftBar">
		

	</div>

	<!-- Main menu -->
	<div id="mainScreen">
		<div>
			<p>
				Hier kan je een mail allert in stellen zodat je op de hoogte bent als een markt een koers stijging of daling mee maakt
				waar u van op de hoogte wilt blijven.
			</p>
		</div>

		<div id="optionTabel">
			
		</div>

		<!-- ALle mail allerts die nu actief zijn -->
		<div>
			

		</div>



	</div>


	<!-- Right menu balk-->
	<div id="rightBar">
		

	</div>
</body>
</html>